<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Suporte aos clientes</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Imagem de Help Desk">
    <mat-card-content>
      <p>
        Bem-vindo ao nosso sistema Help Desk, seu ponto de apoio para todas as questões técnicas e de suporte.
         Este espaço foi projetado para facilitar a abertura de chamados, permitindo que você registre suas 
         solicitações de forma rápida e acompanhe o status em tempo real. 
         <br><br>
         Nossa equipe está comprometida em fornecer
          soluções ágeis e eficazes, garantindo que suas dúvidas e problemas sejam resolvidos com a máxima eficiência. 
          <br> 
          Utilize as funcionalidades disponíveis para obter a ajuda necessária, consultar histórico de atendimentos e 
          comunicar-se diretamente com nossos especialistas.
          <br>
          <br>
          Estamos aqui para assegurar que você tenha a melhor 
          experiência possível!
      </p>
    </mat-card-content>
  </mat-card>
  